* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,html {
    height: 100%;
    width: 100%;
    background-color: #e1b353;
}

.main-container {
    width: 92%;
    margin: 0 auto;  
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 100%;
    background-color: #131313;
    -webkit-box-shadow: 0px -4px 30px 3px rgba(0,0,0,0.7); 
    box-shadow: 0px -4px 30px 3px rgba(0,0,0,0.7);
}

nav ul {
    display: flex;
    list-style: none;
}

li a {
    text-decoration: none;
    color: #ffffff  ;
    padding: 10px;
    font-size: 18px;
   
}

.nav-logo a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 900;
    font-size: 24px;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 15px;
}

.hero-content {
    width: 500px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    

}

.hero-content h1 {
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.hero-content p {
    margin-bottom: 15px;
}
.hero-img {
    height: auto;
    width: 30rem;
}
img {
    height: 100%;
    width: 100%;
}

.info-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    height: 450px;
    background-color: #131313;
}

.info-img-content, .info-content {
    display: flex;
    
}
.info-img {
    border: 5px solid #ffffff;
    width: 150px;
    height: 150px;
    border-radius: 10%;
    margin: 15px;
}

.info-para {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    margin: 15px;
}