* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,html {
    height: 100%;
    width: 100%;
    background-color: #e1b353;
}

.main-container {
    width: 92%;
    margin: 0 auto;  
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 100%;
    background-color: #131313;
    -webkit-box-shadow: 0px -4px 30px 3px rgba(0,0,0,0.7); 
    box-shadow: 0px -4px 30px 3px rgba(0,0,0,0.7);
}

nav ul {
    display: flex;
    list-style: none;
    margin-right: 15px;
}

li a {
    text-decoration: none;
    color: #ffffff  ;
    padding: 10px;
    font-size: 18px;
   
}

.nav-logo a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 900;
    font-size: 24px;
    margin-left: 15px;
}

.hero-section {
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 92%;
}

.hero-content {
    width: 500px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.hero-content h1 {
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.hero-content p {
    margin-bottom: 15px;
}

.hero-content button {
    height: 40px;
    width: 160px;
    align-self: flex-start;
}
.hero-img {
    height: auto;
    width: 30rem;
}
img {
    height: auto;
    width: 100%;
    
}

.info-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    height: 450px;
    background-color: #131313;
}

.info-img-content, .info-content {
    display: flex;
    
}
.info-img {
    border: 5px solid #ffffff;
    width: 200px;
    height: 200px;
    border-radius: 15%;
    margin: 15px;
    overflow: hidden;
}


.info-para {
    width: 175px;
    height: 100px;
    border-radius: 10%;
    margin: 28px;
    color: #ffffff;
    text-align: center;
}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height: 450px;
}

.quote-main,.quote-footer {
    width: 92%;
}
.quote-section p {
    font-size: 36px;
}

.quote-footer {
    text-align: right;
}

.quote-footer span {
    font-size: 24px;
    font-weight: 900;
}

footer {
    align-items: center;
    background-color: #131313;
    display: flex;
    color: #ffffff;
    justify-content: center;
    padding: 30px;
}   
